<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the Head hunters administration Portal</title>
    <style>
	  .grid-container {
		  display: grid;
		  grid-template-columns: auto auto auto auto;
		  grid-gap: 10px;
		  /* background-color: #2196F3; */
		  background-color: #f39c12;
		  padding: 10px;
		  height:100vh;
	  }
	</style>
</head>
<body>
      <center>
      <div class="grid-container">
                  Head Hunters List Page
      <table> 
      <tr>
        <th>Id</th> <th>Name</th> <th> Joined Date</th> <th>Recruitment Details</th>
      </tr>
      <tr th:each="headHunter,iterStatus : ${ListOfheadHunters}">
        <td th:text="${headHunter.id}"> </td>
        <td th:text="${headHunter.firstName + headHunter.LastName} "> </td>
        <td th:text="${headHunter.registeredDate}"> </td>
        <td > <a href="#" th:href="@{'/hunter/' + ${headHunter.id} + '/recruitments'}" >info</a> </td>
      </tr>
      </table>
      </div>
      </center>


</body>
</html>